body {
  background: linear-gradient(to right, #00aaff, #00ff6c);
  padding: 2rem;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.grid {
  display: grid;
  align-content: center;
  justify-content: center;
  grid-template-columns: repeat(3, 100px);
}

.grid > button {
  border: 2px solid grey;
  font-size: 50px;
  cursor: pointer;
  outline: none;
  background-color: rgb(255, 255, 255, 0.75);
  height: 100px;
}

.title-and-players {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.players {
  color: rgb(55, 55, 94);
}

.winner {
  visibility: hidden;
  font-size: 300%;
  font-style: italic;
  background: linear-gradient(to right, #01ff6b, #5b027e);
  background-clip: unset;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.title {
  color: rgb(113, 46, 169);
  font-weight: bolder;
}

.hit {
  cursor: pointer;
  width: max-content;
}
